body {
	font-family: tahoma;
}
.top-line {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
	/*background: #4C5A72;*/
	position: relative;
}
#search {
	position: absolute;
	top: 20px;
	left: 400px;
	width: 230px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 10px;
	outline: none;
}
#icon-search {
	position: absolute;
	top: 24px;
	left: 406px;
}
#icon-search img {
	width: 22px;
	opacity: 0.3;
}
#main-page {
	background: white;
/* background: #95B7F5; */
	width: 960px;
	height: 460px;
	height: 940px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-radius: 2px;
	position: relative;
}
#block-users {
	position: absolute;
	top: 0px;
	right: 150px;
	width:450px;
	height: 200px;
	/*background: #ccc;*/
	border: 1px solid #ccc;
	border-top: none;
	display: none;
}
#list {
	position: absolute;
	top: 80px;
	left: 30px;
	display: none;
}
.list li {
	/*margin-top: 10px;*/
	/*text-align: center;*/
}
.ll a {
	/*width: 100px;*/
	/*background: #ccc;*/
	border-top: 1px solid #EDEFF3;
}
.list li a {
	display: block;
	border-bottom: 1px solid #EDEFF3;
	width: 104px;
	line-height: 25px;
	color: #4A85AD;
	text-decoration: none;
	font-size: 12px;
}
.list li a:hover {
	background: #EDEFF3;
}



#block-menu {
	/*background: #ccc;*/
	position: absolute;
	top: 40px;
	left: 0px;

}
#block-menu a {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	width: 100px;
	/*margin: 0;*/
	padding: 20px;
	border-radius: 2px;
	/*background: #ccc;*/
	border: 1px solid #ccc;
	color: rgb(29, 110, 141);
	margin-left: -6px;
}
#block-menu a:hover {
	background: #E6EBE7;
}

#block-filtr {
	position: absolute;
	top: 110px;
	left: -15px;
}
#block-filtr a {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	width: 140px;
	margin-left: 10px;
	padding: 6px;
	border-radius: 2px;
	/*background: #ccc;*/
	border: 1px solid #ccc;
	color: rgb(29, 110, 141);
}
#block-filtr a:hover {
		background: #E6EBE7;
}


.b-l {
	position: absolute;
	top: 240px;
	left: -10px;
}
.b-l li {
	/*width: 130px;*/
	display: inline-block;
	margin-left: 20px;
}
.b-l li a img {
	-webkit-box-shadow: 1px 1px 15px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 15px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 15px 0px rgba(50, 50, 50, 0.75);
	width: 165px;
	height: 200px;
	border: 1px solid #ccc;
}
#mb {
	position: absolute;
	bottom: 45px;
	left: 425px;
	width: 100px;
	height: 40px;
	background: #54A3C5;
	border: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
.bll {
	top: 550px;
}






























#footer {
	width: 960px;
	margin: 8px auto 0 auto;
	text-align: center;
}
#footer a {
	/*color: #4A85F0;*/
	font-size: 11px;
	color: #2B587A;
	text-decoration: none;
	margin-left: 5px;
}
#footer a:hover {
	text-decoration: underline;
}









