<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="main.css">
	<script src="js/jquery.js"></script>
</head>
<body>

<div class="top-line"></div>
<div id="main-page">
	<div class="left-block">
		<p class="op oop">Email или телефон</p>
		<input type="email" class="vhod1">
		<p id="q" class="op oop">пароль</p>
		<input type="password" class="vhod2">
		<input type="checkbox" id="first-checkbox">
		<p id="q3" class="op">Запомнить</p>
		<p id="q2" class="op"><a href="">Забыли пароль?</a></p>
		<button id="button1">вход</button>
	</div>
	<div class="right-block">
		<div id="R">
			<h2>Регистрация</h2>
		</div>
		<!-- <h3>Подключиться</h3> -->
		<!-- <h3>Быстрое подключение</h3> -->
		<h3>Быстро и бесплатно.</h3>
		<input type="text" id="vhod3" placeholder="Имя">
		<input type="text" id="vhod4" placeholder="Фамилия">
		<input type="email" id="vhod5" placeholder="Адресс эл. почты">
		<input type="email" id="vhod5" placeholder="Еще раз адресс эл. почты">
		<input type="password" id="vhod6" placeholder="Желаемый пароль">
		<a href="../2page/index.html"><button id="button2">Зарегистрироваться</button></a>
	</div>
	<div id="info">
		<h4>Поможем вам:</h4>
		<ul>
			<li>Найти полезные и интересные книги.</li>
			<li>Быть в курсе современных и исторических события.</li>
			<li>А так же найти интересных людей, и оставаться на связи. </li>
		</ul>
	</div>
	<div id="store">
		<div class="apple">
			<img src="images/apple.png" alt="">
		</div>
		<div class="android">
			<img src="images/android.png" alt="">
		</div>
	</div>
	<div id="phone">
		<img src="images/4.png" alt="">
	</div>

</div>
	<div id="footer">
		<a href="../INF/about/index.html">О нас</a>
		<a href="../INF/help/index.html">Помощь</a>
		<a href="#">Условия</a>
		<a href="#">Реклама</a>
		<a href="#">Cookie файл</a>
		<a href="#">Помочь проекту</a>
		<!-- <p><a href="#">Библиотека</a> © 2014</p> -->
	</div>
	<div class="mo">
		<div class="switch">
			<a href="#">Русский</a>
			<a href="#">English (US)</a>
			<a href="#">Deutsch</a>
			<a href="#">Українська</a>
			<a href="#">Español</a>
			<a href="#">Português (Brasil)</a>
		</div>
		<div id="language">
			<a href="#" class="swt">Язык: Русский</a>
			<div class="up-down"></div>
		</div>
		<div class="ml"></div>
	</div>
<script src="js/main.js"></script>
</body>
</html>