<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="main.css">
	<script src="js/jquery.js"></script>
</head>
<body>
<div class="top-line">
	<input type="search" id="search" placeholder="      Поиск">
	<div id="icon-search">
		<img src="images/search.png" alt="">
	</div>
</div>
<div id="main-page">
	<div id="block-users"></div>
<!-- 	<div id="list">
		<ul class="list">
			<li class="ll"><a href="">Книги</a></li>
			<li><a href="">Читать</a></li>
			<li><a href="">События</a></li>
			<li><a href="">Люди</a></li>
		</ul>
	</div> -->

	<div id="block-menu">
		<a href="../2page/index.html">Книги</a>
		<a href="../documents/index.html">Документы</a>
		<a href="">События</a>
		<a href="">Пользователи</a>
		<a href="../profile/index.html">Мой профиль</a>
	</div>
	<div id="block-filtr">
		<a href="">По категории</a> <!-- До нашей Эры и после нашей Эры. -->
		<a href="">По языкам</a>
		<a href="">По времени</a>
	</div>
	<div id="interval-line">
		<div class="toddler"></div>
		<div class="data-d">
			<a href="">1990</a>
		</div>
	</div>
	<div id="event-im">
		<img src="images/krem.jpg" alt="">
	</div>
	<div id="event-info-block">
		<h3>Кремль</h3>
		<p>Русь (др.-рус. Рѹсь, или Рѹсьскаѧ землѧ) — историческое название земель восточных славян, происходящее от летописного племени русь, основавшего Древнерусское государство. В некоторых источниках, относящихся к XI—XII векам, употребление понятий Русь или Русская земля ограничивается лишь Киевским княжеством как коллективным владением князей-Рюриковичей и местом великокняжеского престола. С XII века название постепенно переходит на все удельные княжества. В историографии термин Русь распространяется на всю территорию Древнерусского государства с момента его основания в 862 году. В результате политического разделения Руси...</p>
		<button id="more-info-event">Подробнее</buuton>
	</div>
	<div id="like">
		<a href="#"><img src="images/like.png" alt=""></a>
		<a href="" class="nrm">+100500</a>
	</div>
	<div id="com">
		<a href="#">Коментарии 20</a>
	</div>
</div>


<div id="footer">
		<a href="../INF/about/index.html">О нас</a>
		<a href="../INF/help/index.html">Помощь</a>
		<a href="#">Условия</a>
		<a href="#">Реклама</a>
		<a href="#">Cookie файл</a>
		<a href="#">Помочь проекту</a>
	<!-- <p><a href="#">Библиотека</a> © 2014</p> -->
</div>
<script src="js/main.js"></script>
</body>
</html>