<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="main.css">
	<script src="js/jquery.js"></script>
</head>
<body>
<div class="top-line">
	<input type="search" id="search" placeholder="      Поиск">
	<div id="icon-search">
		<img src="images/search.png" alt="">
	</div>
</div>
<div id="main-page">
	<div id="block-users"></div>
<!-- 	<div id="list">
		<ul class="list">
			<li class="ll"><a href="">Книги</a></li>
			<li><a href="">Читать</a></li>
			<li><a href="">События</a></li>
			<li><a href="">Люди</a></li>
		</ul>
	</div> -->

	<div id="block-menu">
		<a href="">Книги</a>
		<a href="">События</a>
		<a href="">Документы</a>
		<a href="">Пользователи</a>
		<a href="">Мой профиль</a>
	</div>
	<div id="block-filtr">
		<a href="">По категория</a>
		<a href="">По языкам</a>
		<a href="">По дата загрузки</a>
	</div>
	<div id="block-books">
		<ul class="b-l">
			<li><a href=""><img src="images/book2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book5.jpg" alt=""></a></li>
		</ul>
		<button id="mb">Больше книг</button>
	</div>
		<ul class="b-l bll">
			<li><a href=""><img src="images/book.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book5.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book2.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book3.jpg" alt=""></a></li>
			<li><a href=""><img src="images/book.jpg" alt=""></a></li>
		</ul>
</div>


<div id="footer">
		<a href="#">О нас</a>
		<a href="#">Помощь</a>
		<a href="#">Условия</a>
		<a href="#">Реклама</a>
		<a href="#">Юзаем куки</a>
		<a href="#">Помочь проекту</a>
	<!-- <p><a href="#">Библиотека</a> © 2014</p> -->
</div>
<script src="js/main.js"></script>
</body>
</html>